<h1><%= @student.to_s %></h1>
<p>This student is currently <% if @student.active? %>
  <%= "active." %>
<% else %>
  <%= "inactive." %>
<% end %></p>

<%= link_to "Submit Proposal", submitreview_projects_path(@project), method: :put %>
